/* body {
  display: flex;
  align-items: flex-end;
} */
/* .a {
  background-color: antiquewhite;
  display: flex;
  align-items: flex-end;
} */
.name {
  /* background-color: aqua; */
  display: flex;
  width: fit-content;
  align-items: center;
}
.name span {
  margin: 10px;
}
